#StrStat, #DexStat, #ConStat, #IntStat, #WisStat, #ChaStat {
    border-radius: 1rem;
    width: 2rem;
    text-align: center;
    cursor: text;
    margin-left: 2rem;
}


/*
// Description: I wanted to hide the arrows on an input number so needed this CSS found on W3 Schools
// Author: W3 Schools
// URL: https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp
// Date Accessed: 16/04/2023
*/
input::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

input[type=number]{
    -moz-appearance: none;
}

/*
// End of cited code
*/

form section div{
    width: 50%;
    display: flex;
}

#AbilityScoreInput{
    display: flex;
    flex-flow: row wrap;
}

select{
    width: 100%;
    height: 2em;
    text-overflow: ellipsis;
    margin-top: 1em;
    margin-bottom: 1em;
    cursor: pointer;
    outline-style:solid;
    outline-color: grey;
    outline-width: 0.1rem;
}

form{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
}