main{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
    font-family:'Times New Roman', Times, serif;
}

#ScreenButtons{
    display: flex;
    flex-flow: row nowrap;
}

nav{
    margin-top: 1rem;
    margin-left: 1rem;
}

.Screen{
    display: flex;
    flex-flow: column nowrap;
    border-color: darkgray;
    background-color: grey;
    border-width: 0.5rem;
    border-style: solid;
    width: 90%;
    height: fit-content;
    padding: 1rem;
}

.Selected{
    outline: 0;
    border: 0;
    background-color: darkgray;
}

h1, h2{
    margin-top: 0.5rem;
    text-shadow: black 3px 5px 5px;
    background-color: rgb(130, 36, 36);
    text-align: left;
    margin-bottom: 1rem;
}

div{
    margin-left: 1rem;
    margin-right: 1rem;
}

body{
    background-color: brown;
    margin: 0.3em 0.5em 0.3em 0.5em;
    color: whitesmoke;
    font-size: xx-large;
}

html{
    background-color: grey;
}

.dividerLine{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 5px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: darkgrey;
    border-style: dashed;
    width: 100%;
}

input{
    cursor: pointer;
    color: azure;
    background-color: darkgray;
    font-size: x-large;
    text-shadow: black 1px 3px 3px;
}

input:hover{
    box-shadow: black 0px 5px 5px;
}

input:focus-visible{
    outline-color: yellow;
    outline-width: 1rem ;
    outline-style: solid;
}

select{
    font-size: x-large;
    margin-right: 4rem;
    outline: none;
}

select:hover{
    box-shadow: black 5px 5px 5px;
}

select:focus-visible{
    box-shadow: black 5px 5px 5px;  
}

.notVisible{
    display: none;
}