main{
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

#ScreenButtons{
    display: flex;
    flex-flow: row nowrap;
}

.Screen{
    display: flex;
    flex-flow: column nowrap;
    border-color: darkgray;
    background-color: grey;
    border-width: 0.5rem;
    border-style: solid;
    box-shadow: black 5px 5px 5px;
    width: 90%;
    height: fit-content;
    margin-right: 2rem;
    margin-bottom: 2rem;
    padding: 1rem;
}

.Selected{
    outline: 0;
    border: 0;
    background-color: darkgray;
}

a{
    color: antiquewhite;
}

h1, h2{
    margin-top: 0.5rem;
    text-shadow: black 3px 5px 5px;
    text-align: left;
}


body{
    background-color: brown;
    margin: 0.3em 0.5em 0.3em 0.5em;
    color:azure;
    font-size: xx-large;
}

html{
    background-color: grey;
}

#sideBar{
    display: flex;
    flex-flow: row nowrap;
    height:fit-content;
    width:fit-content;
    margin-right: 0.5em;
    margin-top: 0.2em;
}

.navOpenButton{
    width: min-content;
}

#OpenButton{
    height: 7rem;
    margin-top: 0.3rem;
}

.dividerLine{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-top: 5px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    border-color: darkgrey;
    border-style: dashed;
    width: 100%;
}

section{
    width: 100%;
}

main nav section input{
    width: 100%;
    height: min-content;
}

main nav section{
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: left;
}

input{
    cursor: pointer;
    color: azure;
    background-color: grey;
    font-size: x-large;
    text-shadow: black 1px 3px 3px;
}

input:hover{
    box-shadow: black 0px 5px 5px;
}

select{
    font-size: x-large;
    margin-right: 4rem;
}

select:hover{
    box-shadow: black 5px 5px 5px;
}

.buttonsBox{
    display: flex;
    flex-flow: row wrap;
}

.visible{
    display: block;
}

.notVisible{
    display: none;
}